
    <form action="/photos/addphotos" method="post">
        <input type="text" placeholder="titulo" name="titulo">
        <input type="text" placeholder="url" name="url">
        <input type="text" placeholder="fecha" name="fecha">
        <input type="text" placeholder="descripcion" name="descripcion">
        <button type="submit">Añadir</button>
    </form>
