<!DOCTYPE html>
<html lang="es-ES">
<head>
  <%- include('./partials/head.ejs') %>
  <!-- Tailwind config for index.ejs -->
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                coral: '#FF7F50',
                whitesmoke : '#F5F5F5',
                FFC300: '#FFC300'
              },
              fontFamily: {
                'Lato': ['sans-serif']
              }
            }
          }
        }
      </script>

    <title>YourPhotos | Welcome!</title>
</head>
<body>
    <div class="h-screen flex flex-col justify-center items-center bg-FFC300">
        <img src="../public/assets/images/Gallery-PNG-2.png">
        <h1 style="font-family: 'Lato', sans-serif;" class="text-3xl font-Lato font-bold underline">Bienvenido/a!</h1>
        <a class="my-8 p-3 w-24 text-center text-whitesmoke font-medium rounded-full bg-coral" href="/photos">Entra!</a>
    </div>
</body>
</html>